.itemstyle
    width: 600px
    background-color: #34495E
    margin: 10px
    border-radius:  20px
    display: flex
    justify-content: space-between
    color: white

.price
    display: flex


    p
        margin: 10px