.card
    padding: 0
    margin: 0
    font-size: 30px
    justify-content: center
    color: white
    width: 200px
    position: relative

    &:hover .close
       display: block

.close
    position: absolute
    top: 0
    right: 0
    transform: translate(50%, -50%)
    cursor: pointer
    display: none
    